<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Ejemplo Chat Firebase+Vue</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />

  <style type="text/css">
    .message {
      color: green;
      border: 1px solid green;
      padding: 1em;
      margin: 1em;
      border-radius: 15px;
    }
    
    .my_message {
      text-align: right;
      margin: 1em;
      color: blue;
      border: 1px solid blue;
      padding: 1em;
      border-radius: 15px;
    }
  </style>


</head>

<body>


  <div id="app">


    <div id="login" v-if="state==='login'">

      <div class="container">
        <div class="row">

          <div class="col-md-10">

            <h2>Login</h2>

            <label for="login-user">Your email address</label>
            <input type="text" style="margin-bottom: 1em;" class="form-control" id="login-user" placeholder="Valid e-mail" v-model="email">

            <label for="login-password">Your password</label>
            <input type="password" style="margin-bottom: 1em;" class="form-control" id="login-password" placeholder="password" v-model="password">
            <button class="btn btn-primary" @click="login">Login</button>
            <!-- <button class="btn btn-warning" @click="signup">Sign up</button> -->

          </div>

        </div>
        <!-- Row -->
      </div>
      <!-- Container -->

    </div>

    <div id="sign-up" v-if="state==='signup'">
      <h2>Sign Up</h2>
      <input type="text" id="signup-user" placeholder="user email">
      <input type="password" id="signup-password" placeholder="password">
      <input type="password" id="signup-password2" placeholder="rewrite password">
      <button @click="login">Create</button>
      <button @click="logout">Go back</button>
    </div>

    <div id="main" v-if="state==='main'">

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="navbar-brand">{{user.email}}</span>
            <a class="navbar-brand navbar-right" @click="logout">Salir</a>
          </div>
        </div>
      </nav>


      <div class="navbar-left navbar-fixed-bottom">

        <input type="text" class="form-control input-lg" v-model="myMessage" @keyup.enter="sendMessage" placeholder="Escribe tu mensaje...">

      </div>


      <div class="container">
        <div class="row">

          <div class="col-md-12">


            <h2>Main</h2>
            <!--
              {{ user.uid }}:{{ user.displayName }} ({{ user.email }})
              <button @click="logout">Log out</button> 
              -->

            <!--<div id="miCanvas" style="margin-bottom: 5em">-->
            <!--  <ul>-->
            <!--    <li v-for="message in messages">-->
            <!--      {{ message.author }}:{{ message.body }} ({{ message.datetime }})-->
            <!--    </li>-->
            <!--  </ul>-->
            <!--</div>-->

            <div id="miCanvas" style="padding-bottom: 10em; margin-bottom: 5em;">
              <!--<div v-for="message in messages" :class="{ 'my_message' : message.mio, 'message' : !message.mio }">-->
              <div v-for="message in messages" :class="[ message.mio ? 'my_message' : 'message' ]">

                <strong v-if="message.author!==user.email">{{ message.author }}</strong>
                <p style="font-size: 1.2em;">{{ message.body }}<br></p>
                <span style="font-size: .8em; font-style: italic;">{{ message.time }}</span>
              </div>
            </div>

            <!--
                <input type="text" style="margin-top: 2em; padding: 1em; width: 90%;" v-model="myMessage" @keyup.enter="sendMessage" placeholder="Escribe tu mensaje...">
              -->
            <!-- </div> scroll -->

          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- Container -->

    </div>
    <!-- main -->


    <!-- 
    
    {{nano}}, {{hola}}
    
    
    <hr>
    
    {{ $data }}
    
    -->


  </div>
  <!-- app -->



  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>

  <script>

(function(){


  
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCbxqWSuwsYQhv-Jc8LcKeoTcV9bHUD7us",
    authDomain: "chano-f6527.firebaseapp.com",
    databaseURL: "https://chano-f6527.firebaseio.com",
    storageBucket: "chano-f6527.appspot.com",
    messagingSenderId: "236372912948"
  };
  firebase.initializeApp(config);
  
  firebase.auth().onAuthStateChanged(function(user) {
    
    if (user) {
      // User is signed in.
      app.state="main";
      
      app.password="";
      
      app.user.uid=firebase.auth().currentUser.uid;
      app.user.name=firebase.auth().currentUser.displayName;
      app.user.email=firebase.auth().currentUser.email;
            
      
      
      //db.ref("public-room").limitToLast(100).on("child_added", function(snap){
      //  db.ref("public-room").orderByChild("time").endAt(1481101056197).on("child_added", function(snap){
      db.ref("public-room").on("child_added", function(snap){
        mio = snap.val();
        if (mio.author===app.user.email) {
          mio.mio=true;
        }else{
          mio.mio=false;
        }
        mio.time = new Date(mio.time+3600000).toJSON();
        mio.time=mio.time.substring(0,10) + " " + mio.time.substring(11,16);
        app.messages.push(mio);
        //document.getElementById("miCanvas").scrollTop = document.getElementById("miCanvas").scrollHeight;
        //window.scrollBy(0, window.innerHeight); // Scroll 100px downwards
        
        
        window.scrollTo(0,app.total_mensajes * 5000);
        
        //$(window).animate({scrollTop: $(document).height() + $(window).height()});
        
	
        //$(window).scrollBy(0,10000000);
        
        
        
        //message.scrollTop(message[0].scrollHeight);
      });
  
    } else {
      // No user is signed in.
      app.state="login";
    }
    
  });

  
  //var db=firebase.database();
  //bd.ref("metadata").set({
  //  app: "videotutorial",
  //  ver: "0.0.1"
  //});
  
  var db = firebase.database();
  
  
  
  //db.ref("public-room").push({author: "juanra", body: "hola nano", datetime: "1/1/2016 12:01"});
  //db.ref("public-room").push({author: "juanra2", body: "hola nano2", datetime: "1/1/2016 12:02"});
  
  
  var dbRef = firebase.database().ref().child('issues');
  
  dbRef.on("value", function(snap){
    app.nano=snap.val();
  });
  
  var app = new Vue({
    el:'#app',
    data: {
      state: "",
      nano: "yusa",
      email: "",
      password: "",
      messages: [],
      user:{
        uid: "",
        name: "",
        email: ""
      },
      myMessage: "",
    },
    computed: {
      
      total_mensajes: function(){
        return this.messages.length;
      }
      
    },
    methods: { 
      login: function(){
        //alert("login");
        var auth=firebase.auth();
        var promise=auth.signInWithEmailAndPassword(this.email.trim(),this.password);
        promise.then(function(){
          //db.ref("connected-users").push({uid: firebase.auth().currentUser.uid});
          
          app.user.uid=firebase.auth().currentUser.uid;
          app.user.name=firebase.auth().currentUser.displayName;
          app.user.email=firebase.auth().currentUser.email;
          
          // if (user.displayName==="true") {
            
          //   alert("usuario ya conectado");
            
          //   firebase.auth().signOut()
          //     .then(function(){
          //       console.log("logout");
          //       app.state="login";
          //       app.messages=[];
          //       app.user={};
          //       app.email="";
          //       app.password="";
          //     })
          //     .catch(function(e){
          //       console.log("Error al desloguear",e);
          //     });
            
          // } else {
            
          //   user.updateProfile({
          //     displayName: "true"
          //   }).then(function() {
          //     // Update successful.
          //   }, function(error) {
          //     // An error happened.
          //   });
            
            //Borra mensajes anteriores a ...
            var d = Date.UTC(2016,11,7,9,38);
            console.log(d);
            db.ref("public-room").orderByChild("time").endAt(d).once("value", function(snap){
              
              snap.forEach(function(field){
                db.ref("public-room").child(field.getKey()).remove();
              });              

            });

            app.state="main";

            
          
          //}
          //alert(firebase.auth().currentUser.uid);
          
          
          
          
          //console.log(firebase.auth().currentUser.displayName);
          //dbRef.set("nano");          
          //console.log("chachi");
        }).catch(function(err){
          alert("Error: " + err.message);
        });
        
      },
      sendMessage: function(){
        if (this.myMessage.trim()!=="") {
          db.ref("public-room").push({author: this.user.email, body: this.myMessage, time: firebase.database.ServerValue.TIMESTAMP});
          this.myMessage="";
        }
      },
      signup: function(){
        
        app.state="signup";
        //alert("signup");
      },
      logout: function(){
        
        firebase.auth().signOut()
            .then(function(){
              console.log("logout");
              app.state="login";
              app.messages=[];
              app.user={};
              app.password="";
            })
            .catch(function(e){
              console.log("Error al desloguear",e);
            });
        
        // var user = firebase.auth().currentUser;
        
        // user.updateProfile({
        //   displayName: ""
        // }).then(function() {
        //   // Update successful.
        //   firebase.auth().signOut()
        //     .then(function(){
        //       console.log("logout");
        //       app.state="login";
        //       app.messages=[];
        //       app.user={};
        //       app.email="";
        //       app.password="";
        //     })
        //     .catch(function(e){
        //       console.log("Error al desloguear",e);
        //     });
        // }, function(error) {
        //   // An error happened.
        // });
        
        
        
      }
    }
  });  
  
  
  
}());
  
</script>
</body>

</html>